<aside>
  <!-- Header -->
  <header>
    <h1>Cookies</h1>
    <fa-icon
      [icon]="icons.hide"
      (click)="consentService.hideConsentPreferences()"
    ></fa-icon>
  </header>

  <section class="cookies">
    <app-cookie-consent-item
      *ngFor="let each of consentService.cookieEnablement$ | async"
      [item]="each"
      (itemChange)="setEnablementOf($event)"
    >
    </app-cookie-consent-item>
  </section>

  <footer>
    <button (click)="rejectAll()" class="decline">Reject All</button>
    <button (click)="approveAll()" class="approve primary">Accept All</button>
  </footer>
</aside>
