@use 'effects';
@use 'colors';
@use 'include-media' as responsive;

:host-context(app-navigation-bar) {
  a {
    color: white;
    text-decoration: none;
  }

  nav {
    font-size: 1.5rem;

    li {
      display: inline;

      & + li {
        margin-left: 1.5rem;
      }
    }

    .blog {
      & > a:hover,
      & > a.active {
        color: colors.clr(blog);
      }
    }

    .presentations {
      & > a:hover,
      & > a.active {
        color: colors.clr(presentations);
      }
    }

    .about {
      & > a:hover,
      & > a.active {
        color: colors.clr(about);
      }
    }
  }
}

:host-context(app-slide-out-menu) {
  nav {
    font-size: 1.5rem;
    line-height: 2rem;

    a {
      display: block;
      color: black;
      text-decoration: none;
    }

    li {
      display: block;

      &:hover,
      & > a.active {
        background-color: white;
      }

      &.blog:hover,
      &.blog > a.active {
        border-right: 0.4rem solid colors.clr(blog);
      }

      &.presentations:hover,
      &.presentations > a.active {
        border-right: 0.4rem solid colors.clr(presentations);
      }

      &.about:hover,
      &.about > a.active {
        border-right: 0.4rem solid colors.clr(about);
      }
    }
  }
}
