@use 'include-media' as responsive;
@use "sass:map";

$header-height: (
  "mobile": 5rem,
  "tablet": 10rem,
);
$nav-offset: (
  "mobile": 3.25rem,
  "tablet": 3.8rem,
);
$content-offset: map.get($header-height, "tablet") +
  map.get($nav-offset, "tablet") + 2rem;

app-listing-by-month-and-year,
app-listing-by-year {
  padding: 0 1rem 2rem 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: #{map.get($nav-offset, "mobile")};
  width: 100%;
  height: #{map.get($header-height, "mobile")};

  background-image: url("/assets/images/blog-hero-image.jpeg");
  background-size: cover;
  background-position: center;

  @include responsive.media("screen", ">=tablet") {
    height: #{map.get($header-height, "tablet")};
    top: #{map.get($nav-offset, "tablet")};
  }

  h1 {
    font-weight: 500;
    font-size: 2rem;
    color: #fff;

    @include responsive.media("screen", ">=tablet") {
      font-weight: 300;
      font-size: 7.5rem;
    }
  }
}

section.listings {
  max-width: 40rem;
  margin: #{map.get($header-height, "mobile")} auto 0;
  padding: 0 0.5rem;

  @include responsive.media("screen", ">=tablet") {
    margin-top: #{map.get($header-height, "tablet")};
    padding: 0;
  }

  @include responsive.media("screen", ">=desktop") {
    // 55rem / 2 = 27,5rem
    max-width: 27.5rem;
    margin-left: calc(50vw - 30rem);
  }
}

app-listing-post-preview {
  display: none;

  @include responsive.media("screen", ">=desktop") {
    display: block;

    position: fixed;
    top: $content-offset;

    max-width: 30rem;
    margin-left: calc(50vw);
  }
}
