<header class="hero">
  <h1>Blog</h1>
</header>

<section class="listings">
  <ng-container *ngFor="let group of grouped$ | async">
    <app-listing-by-year
      *ngIf="group.type === 'by-year'"
      [group]="group"
      (postFocus)="focusedPost = $event"
    ></app-listing-by-year>

    <app-listing-by-month-and-year
      *ngIf="group.type === 'by-year-and-month'"
      [group]="group"
      (postFocus)="focusedPost = $event"
    ></app-listing-by-month-and-year>
  </ng-container>
</section>

<app-listing-post-preview [post]="focusedPost"> </app-listing-post-preview>
