<!-- Menu-trigger, on small devices -->
<fa-icon
  class="menu-toggle"
  [icon]="icons.menu"
  (click)="showMenu.emit()"
></fa-icon>

<!-- Logo (navigation to / - home) -->
<a class="logo" [routerLink]="['/']" (click)="scrollToTop()">
  <h1>{{ siteName }}</h1>
</a>

<!-- Navigation items -->
<app-navigation-list [menuItems]="menuItems"></app-navigation-list>

<!-- Cookies, Search etc. -->
<div class="functionality">
  <fa-icon
    *ngIf="displayCookieAccess"
    [icon]="icons.cookie"
    (click)="showCookiePreferences.emit()"
  ></fa-icon>
  <fa-icon [icon]="icons.search"></fa-icon>
</div>
