<app-navigation-bar
  [siteName]="environment.site.name"
  [menuItems]="environment.links"
  (menuTriggerClicked)="toggleMenu()"
></app-navigation-bar>

<app-slide-out-menu
  [menuItems]="environment.links"
  [menuShown]="menuShown"
  [socialMedia]="environment.social"
  (closeMenu)="toggleMenu()"
></app-slide-out-menu>

<section class="container">
  <main>
    <router-outlet></router-outlet>
  </main>

  <app-page-footer
    [socialMedia]="environment.social"
    [menuItems]="environment.links"
    [licenseItems]="licenseItems$ | async"
  ></app-page-footer>
</section>
