@use 'include-media' as responsive;

:host {
  display: block;
  padding: 2rem 0.5rem;

  color: #fff;
  background-color: #737373;
  background-image: linear-gradient(315deg, #cdcdcd 0%, #737373 74%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 40rem;
  margin: 0 auto;
  padding: 0 0.5rem;

  @include responsive.media("screen", ">=tablet") {
    padding: 0;
    flex-direction: row;
  }

  @include responsive.media("screen", ">=desktop") {
    max-width: 55rem;
  }
}

h2 {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

p,
li {
  font-size: 1rem;
  line-height: 1.2rem;
}

p {
  margin-bottom: 0.8rem;
}

ul {
  margin-left: 1.5rem;
}

a {
  color: #dfdfdf;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

li {
  list-style-type: square;
}

.feedback {
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include responsive.media("screen", ">=tablet") {
      flex-direction: row;
    }

    app-feedback-button {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }
  }

  i {
    display: block;
    margin-top: 0.5rem;
    text-align: right;

    font-style: italic;
  }
}

.references .content {
  .default-content {
    h3 {
      color: orange;
    }

    &:not(:only-child) {
      display: none;
    }
  }
}
