$primary-color: #ee6352;
$blog: #3f78c9;
$about: #49c4a3;
$presentations: #ffac83;
$white: #fff;
$black: #2d3135;
$hint: #f1eaea;

$lighten: 5;
$darken: 25;

$colors: (
  primary: (
    base: $primary-color,
    light: lighten($primary-color, $lighten),
    dark: darken($primary-color, $darken),
  ),
  blog: (
    base: $blog,
    light: lighten($blog, $lighten),
    dark: darken($blog, $darken),
  ),
  about: (
    base: $about,
    light: lighten($about, $lighten),
    dark: darken($about, $darken),
  ),
  presentations: (
    base: $presentations,
    light: lighten($presentations, $lighten),
    dark: darken($presentations, $darken),
  ),
  neutral: (
    base: #69777f,
    light: #b2cad8,
    dark: $black,
  ),
  hint: (
    base: $hint,
    light: lighten($hint, $lighten),
    dark: darken($hint, $darken),
  ),
);

@function clr($base, $shade: base) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}
