<ng-container *ngIf="current$ | async as post; else postNotFound">
  <app-post-header titleId="__title_id" [post]="post"></app-post-header>
  <app-table-of-contents
    titleId="__title_id"
    [post]="post"
  ></app-table-of-contents>

  <article>
    <scully-content></scully-content>
  </article>

  <app-post-footer [post]="post"></app-post-footer>
</ng-container>

<ng-template #postNotFound>
  <article class="not-found">
    <h1>Oh no!</h1>
    <p>Unable to find post!</p>
  </article>
</ng-template>
