<aside class="side-nav" [class.shown]="menuShown">
  <!-- Header -->
  <header>
    <p>Menu</p>
    <fa-icon [icon]="icons.close" (click)="closeMenu.emit()"></fa-icon>
  </header>

  <!-- Navigation items -->
  <app-navigation-list [menuItems]="menuItems"></app-navigation-list>

  <!-- Social Media -->
  <footer>
    <a [href]="socialMedia.facebook" target="_blank">
      <fa-icon class="facebook" [icon]="icons.social.facebook"></fa-icon>
    </a>
    <a [href]="socialMedia.twitter" target="_blank">
      <fa-icon class="twitter" [icon]="icons.social.twitter"></fa-icon>
    </a>
    <a [href]="socialMedia.linkedin" target="_blank">
      <fa-icon class="linkedin" [icon]="icons.social.linkedin"></fa-icon>
    </a>
    <a [href]="socialMedia.stackoverflow" target="_blank">
      <fa-icon
        class="stackoverflow"
        [icon]="icons.social.stackoverflow"
      ></fa-icon>
    </a>
    <a [href]="socialMedia.github" target="_blank">
      <fa-icon class="github" [icon]="icons.social.github"></fa-icon>
    </a>
  </footer>
</aside>
