<section class="full-width new-posts">
  <header>
    <h1>
      {{ environment.frontPage.numberOfNewestPosts }} newest blog posts...
    </h1>
    <a routerLink="/blog">All posts...</a>
  </header>
  <app-new-posts
    [posts]="newestPosts$ | async"
    [timeBetween]="environment.frontPage.timeBetweenPostChange"
  ></app-new-posts>
</section>

<section class="about-the-blog">
  <h1>A blog about</h1>
  <p>
    This blog is about software development, technical subjects and related
    topics in the same area. The topics to be covered can be, but are not
    limited to:
  </p>
  <ul>
    <li>Angular</li>
    <li>Java</li>
    <li>Web development (in general, such as HTML, CSS etc.)</li>
    <li>Interesting libraries and technologies</li>
    <li>Software utilities (useful for development)</li>
  </ul>
  <p>
    You can read my posts by clicking upon one of the images above, or go to the
    <a routerLink="/blog">blog listing</a>-page.
  </p>
</section>

<section class="full-width open-source">
  <div class="container">
    <div class="oss-group">
      <img
        src="/assets/images/logos/OSI_keyhole.svg"
        alt="Open Source Initiative Keyhole image"
      />
      <h1>Source code</h1>
      <p>
        The source code of the blog is open sourced and can be found at the
        following <a [href]="environment.site.githubRepo">GitHub repository</a>.
      </p>
    </div>
    <div class="oss-group">
      <img
        src="/assets/images/logos/MIT_logo.svg"
        alt="MIT license logo image"
      />
      <h1>Licensed</h1>
      <p>
        The code of the blog is licensed under the
        <a [href]="sourceCodeLicense?.url">{{ sourceCodeLicense?.name }}</a
        >, hence ready for you to browse and potentially fork.
      </p>
    </div>
  </div>
</section>
