<a [href]="socialMedia.facebook" target="_blank">
  <fa-icon class="facebook" [icon]="icons.facebook"></fa-icon>
</a>
<a [href]="socialMedia.twitter" target="_blank">
  <fa-icon class="twitter" [icon]="icons.twitter"></fa-icon>
</a>
<a [href]="socialMedia.linkedin" target="_blank">
  <fa-icon class="linkedin" [icon]="icons.linkedin"></fa-icon>
</a>
<a [href]="socialMedia.stackoverflow" target="_blank">
  <fa-icon class="stackoverflow" [icon]="icons.stackoverflow"></fa-icon>
</a>
<a [href]="socialMedia.github" target="_blank">
  <fa-icon class="github" [icon]="icons.github"></fa-icon>
</a>
